
@font-face {
  font-family: 'Vani-Bold';
  src: url('../fonts/VaniB/Vani-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/VaniB/Vani-Bold.woff') format('woff'), url('../fonts/VaniB/Vani-Bold.ttf')  format('truetype'), url('../fonts/VaniB/Vani-Bold.svg#Vani-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
